body{
margin:0;
padding:0;
background:#0d0d0d;
color:white;
font-family:Arial,Helvetica,sans-serif;
}

.hidden{
display:none;
}

#setup-screen{
padding:40px;
text-align:center;
}

h1{
font-size:48px;
}

button{
background:#222;
color:white;
border:1px solid #444;
padding:15px 25px;
margin:5px;
font-size:20px;
cursor:pointer;
}

button:hover

#game-screen{
padding:20px;
}

.active-player{
outline:4px solid #00ff66;
}

.number-column{
color:#f0b400;
font-weight:bold;
}

.dart-box{

width:140px;
height:80px;

display:flex;
justify-content:center;
align-items:center;

background:#111;

border:2px solid #444;

border-radius:12px;

font-size:36px;
font-weight:bold;

color:#00ff66;

}

.button-grid{

display:flex;
flex-direction:column;
gap:12px;

margin-top:20px;

}

.button-row{

display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;

}

.button-row button{

min-width:80px;
height:50px;

font-size:20px;
font-weight:bold;

}



